<!-- <hr width= "100%"> -->
<div class="row">
<footer>
        <ul>
				  <li>
					  <p class="home">Home</p>
					  <a class="logo" href="<%= movies_path%>">Movie Store</a>
          </li>
          <li>
					  <p class="services">Movies</p>
					  <ul>
  						<li><a href="<%=browse_movies_path(view: "rating")%>">By Rating</a></li>
  						<li><a href="<%=browse_movies_path(view: "view")%>">By Views</a></li>
					  </ul>
				  </li>
          <li>
  					<p class="reachus">Reach us</p>
  					<ul>
  						<li><a href="#">Twitter</a></li>
  						<li><a href="#">Facebook</a></li>
  						<li class="contact">9865-6532-65</li>
  					</ul>
  				</li>
  				<li>
            <% if user_signed_in? %>
              <p class="clients">Account</p>
  					    <ul>
                  <li><a href="<%= edit_user_registration_path %>">Profile</a></li>
                  <li><%= link_to 'Sign Out', destroy_user_session_path, class: "", :method => :delete  %><li>
                </ul>
            <% else %>
              <p class="clients">Join us</p>
              <ul>
                <li><a href="<%=new_user_session_path%>">Sign In</a></li>
                <li><a href="<%= new_user_registration_path%>">Sign Up</a></li>
  					  </ul>
            <% end %>
  				</li>
  			</ul>
</footer>
</div>
