<div class = "commentsection">
    <div class = "row comments">
      <h3>Comments(<%= @movie.comments.count %>)</h3>
      <% @movie.comments.limit(3).each do |comment| %>
        <div class = "row">
            <div class="col-sm-12">
              <div class="col-md-2 commentpart">
                <img src= "<%= User.find(comment.user_id).photo_url %>" class="commentimage"><br>
                <div class="commentpart username"><b><i><%= User.find(comment.user_id).name %></b></i></div>
              </div>
              <div class="col-md-10 commentbody">
                <%= comment.body %>
                <p class="subm"><i><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong></small></i></p>
              </div>
            </div>
        </div>
        <div class="clearfix"></div>
      <% end %>
      <%= render 'allreviews' %>
    </div>
</div>
