<%= form_for(@movie) do |form| %>
  <% if @movie.errors.any? %>
    <div>
      <h2>
      <%= pluralize(@movie.errors.count, "error") %>
      prohibited this movies being saved:
      </h2>
    <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end%>
    </ul>
  </div>
<% end %>

  <div class="form-group">
    <%= form.label :title%>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <% if view == "automatic" %>
  <%= hidden_field_tag 'view' , view %>
  <% else %>
  <%= hidden_field_tag 'view', view %>
    <div class="form-group">
      <%= form.label :poster%>
      <%= form.file_field :image, class: "form-control" %>
    </div>

  <div class="form-group">
    <%= form.label :ReleaseDate%>
    <%= form.date_field :year, as: :year, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :genre %>
      <%= form.text_field :genre, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :plot %>
      <%= form.text_area :plot, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :rating %>
      <%= form.number_field :rating, :step => "0.1", class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :website %>
      <%= form.text_field :web, class: "form-control" %>
  </div>

  <% end %>

  <div class="form-group">
      <%= form.submit "Add New Movie", class: "btn btn-primary btn-block" %>
  </div>



<% end %>
