
  <div class="container outercontainerdetails" >
    <%= render 'header/showheader' %>
      <div class="tabbable" id="tabs-438739">
        <ul class="nav nav-tabs">
          <li class="<%=rating_check(@sorted)%>">
            <a href="#panel-85832 " data-toggle="tab">By Ratings</a>
          </li>
          <li class="<%=view_check(@sorted)%>">
            <a href="#panel-998541" data-toggle="tab">By Views</a>
          </li>
        </ul>

        <div class="innercontainerdetails">
          <div class="tab-content">
              <div class="tab-pane active" id="panel-85832">
                  <%= render partial: "detail", locals: {sorted: @movies_rating} %>
              </div>
              <div class="tab-pane " id="panel-998541">
                  <%= render partial: "detail", locals: {sorted: @movies_view} %>
              </div>
          </div>
        </div>
      </div>

      <%= render 'footer/footer'%>
  </div>
