
<%= render 'header/header' %>
<div class= "container">
  <div class="row">
    <h2>Top Views Movies</h2>
    <% @movie.order('view_count DESC').limit(4).each   do |f| %>
		    <div class="col-md-3 ">
					<%= link_to image_tag(f.image_url,alt: "f.title", class: "img-thumbnail image"), movie_path(f) %>
					<!-- <a href = "<%= movie_path(f) %>">
						<img alt= "<%=f.title%>" src="<%= f.image_url %>" class = "img-thumbnail image"/>
					</a> -->
				</div>
    <% end %>
  </div>

	<%= link_to 'Browse More', browse_movies_path(view: "view") %>

	<div class="row">
    <h2>Top Rated Movies</h2>
    <% @movie.order('rating DESC').limit(4).each do |f| %>
		<div class="col-md-3">
			<%= link_to image_tag(f.image_url,alt: "f.title", class: "img-thumbnail image"), movie_path(f) %>
		</div>
    <% end %>
	</div>
	<%= link_to 'Browse More', browse_movies_path(view: "rating")%>
	<br><br>
</div>
