	<div class="row">
		<div class="col-md-12">
			<div class="carousel slide" id="carousel-97093">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-97093" class="active">
					</li>
					<li data-slide-to="1" data-target="#carousel-97093">
					</li>
					<li data-slide-to="2" data-target="#carousel-97093">
					</li>
				</ol>
				<div class="carousel-inner slider-image">
					<% @movies.order('id DESC').limit(3).each_with_index do |f,index| %>
							<div class="item <%= imglast(index)%>">
								<%= image_tag(f.image_url, alt: "f.title", class: "centeralign image1")%>
								<div class="carousel-caption">
									<h4><b><i>
										<%= f.title %>
									</i></b></h4>
								</div>
							</div>
					 <% end %>
				</div>
				<a class="left carousel-control" href="#carousel-97093" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span></a>
					<a class="right carousel-control" href="#carousel-97093" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>


  <div class="row">
    <h2>Top Views Movies</h2>
    <% @movies.order('view_count DESC').limit(4).each   do |f| %>
		    <div class="col-md-3 ">
					<%= link_to image_tag(f.image_url,alt: "f.title", class: "img-thumbnail image"), movie_path(f) %>
					<!-- <a href = "<%= movie_path(f) %>">
						<img alt= "<%=f.title%>" src="<%= f.image_url %>" class = "img-thumbnail image"/>
					</a> -->
				</div>
    <% end %>
  </div>

	<%= link_to 'Browse More', browse_movies_path(view: "view") %>

	<div class="row">
    <h2>Top Rated Movies</h2>
    <% @movies.order('rating DESC').limit(4).each do |f| %>
		<div class="col-md-3">
			<%= link_to image_tag(f.image_url,alt: "f.title", class: "img-thumbnail image"), movie_path(f) %>
		</div>
    <% end %>
	</div>
	<%= link_to 'Browse More', browse_movies_path(view: "rating")%>
	<br><br>
</div>
