<script>
$(function(){
var front = $('.i1'),
		others = ['i3', 'i2', 'i4', 'i5'];

$('.Carousel').on('click', '.Items', function() {
	var $this = $(this);

	$.each(others, function(i, cl) {
		if ($this.hasClass(cl)) {
			front.removeClass('i1').addClass(cl);
			front = $this;
			front.addClass('i1').removeClass(cl);
		}
	});
});
});
</script>
			<div class="mask">
				<div class= "container outercontainer">
          <%= render 'header/showheader' %>
					  <div class="bodycheck">
					  <ul class="Carousel">
					      <% i = 1 %>
					      <% @movie.order('id DESC').limit(5).each do |movie| %>
					        <li class = "Items i<%= i %>">
										<img src="<%= movie.image_url %>" class="sliderimage thumbnail">
										<p class="namelink"><a href = "<%= movie_path(movie) %>" style="color: white;"><%= movie.title%></a></p>
									</li>
					        <% i += 1%>
					      <% end %>
					  </ul>
					</div>
          <div class="container innercontainer">
					    <div class="row topmargin">
					      <h2>Top Viewed Movies</h2>
					        <% @movie.order('view_count DESC').limit(4).each   do |f| %>
							      <div class="col-sm-3 col-md-3 ">
										  <%= link_to image_tag(f.image_url,alt: "f.title", class: "image"), movie_path(f) %>
											<p class="movieimagelink"><a href = "<%= movie_path(f) %>"><%= f.title%></a></p>
									  </div>
					        <% end %>
									<a class = "btn btn-primary btn-md pull-right browsebtn" href = "<%= browse_movies_path(view: "view") %>" >Browse More</a>
					    </div>
					    <div class="row topmargin">
					      <h2>Top Rated Movies</h2>
					      	<% @movie.order('rating DESC').limit(4).each do |f| %>
							    	<div class="col-sm-3 col-md-3">
								    	<%= link_to image_tag(f.image_url,alt: "f.title", class: " image"), movie_path(f) %>
											<p class="movieimagelink"><a href = "<%= movie_path(f) %>"><%= f.title%></a></p>
							    	</div>
					      	<% end %>
									<a class = "btn btn-primary btn-md pull-right browsebtn" href = "<%=browse_movies_path(view: "rating")%>" >Browse More</a>
						  </div>
					  <%= render 'footer/footer'%>
				  </div>
			  </div>
			</div>
