<style type="text/css">
	body { background-image: url(<%= @movie.image_url %>);
	background-size: cover;}
</style>

<div class ="container showcontainer">
	<%= render 'header/showheader'%>
	<div class="content">
		  <div class="row">
					<div class="col-md-4 movieimagediv">
						<img alt="<% @movie.title %>" src="<%= @movie.image_url %>" class="showmovieimg" />
				  </div>

					<div class="col-md-8 details">
						<div>
							<h2>
								<%= @movie.title%>
						  </h2>
						</div>
				    <div class = "clearfix" ></div>
						<div>
							<h3 class="plot">Plot: <span><%= @movie.plot%></span></h3>
						</div>
						<div class="clearfix"></div>
						<div class="row">
							<div class="col-md-4"><h2>Cast:</h2><p><%= @movie.cast%></p></div>
								<div class="col-md-4"><h2>Genre:</h2><p><%= @movie.genre %></p></div>
								<div class="col-md-4"></div>
							</div>
							<div class="clearfix"></div>
							<div class="row">
								<div class="col-md-4"><h2>Year:</h2><p><%= @movie.year%></p></div>
								<div class="col-md-4"><h2>Rating:</h2><p><%= image_tag 'rating.png'  , class: "rating-show-image" %> <%= @movie.rating %>/10</p></div>
								<div class="col-md-4"></div>
							</div>
							<div class="webbutton">
								<a class = "btn btn-primary btn-md" href = "<%= @movie.web %>" >Website</a>
							</div>
					</div>
			</div>
				<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12">
							<div class = "col-md-6">
								<%= render 'comments' %>
									<div class="clearfix"></div>
										<h4>Add Comment</h4>
											<%= form_for([@movie, @movie.comments.build], class: "form-inline") do |f| %>
												<div class= "form-group">
													<% if user_signed_in? %>
														<% if current_user.photo_url != nil%>
															<img src= "<%= current_user.photo_url %>" class="newcommentimage">
														<%else%>
															<%= image_tag 'usr.png', class: "newcommentimage" %>
														<% end %>
													<%else%>
														<%= image_tag 'usr.png', class: "newcommentimage" %>
													<%end%>
														<%= f.text_area :body , :class => "commentarea"%>
													 	<p>
				 											<%= f.submit :class => "commentsubmit btn btn-primary" %>
			 											</p>
												</div>
											<% end %>
							</div>
							<div class = "col-md-6">
								<div class="scroll">
									<table class="movielist">
										<thead>
										 <tr>
							  			 <th>#</th>
	 							  			 <th><h4>Top <%= @movie.genre %> Movies</h4></th>
									  	</tr>
									 	</thead>
										<tbody>
											<%count=0 %>
					 		 				<% @genre.each do |movie|%>
							 					<% if movie.genre == @movie.genre %>
								 				<%count+=1%>
												<tr>
													<td class="sno"><%=count%></td>
										  		<td class="listdata"><a href="<%= movie_path(movie.id)%>" class="table"> <%= movie.title %></a></td>
					 							</tr>
												<% end %>
											<% end %>
										</tbody>
									</table>
							  </div>
							</div>
						</div>
					</div>
	</div>
<%= render 'footer/showfooter' %>
</div>
