<div class="headerbar">
<!-- <div class="headerbar"> -->
  <div class = " navbar navbar-default leftside">
  <nav>
    <div class="col-sm-6 col-md-6">
      <ul class="menu">
        <div class=""><li class="movie-store"><b><%= link_to 'Movie Store', movies_path, :class=>"mainhome"%></b></li></div>
        <div class=""><li class = "search-area">
          <%= form_tag(browse_movies_path, :method => "get", id: "search-form", :class => "navbar-form navbar-left navbar-brand form-group") do %>
            <b><span class="glyphicon glyphicon-search searcharea"></span></b>
            <%= text_field_tag :search, params[:search], placeholder: "Search Movies",:class => "searchfield form-control  form-group"  %>
          <% end %>
        </li></div>
      </ul>
    </div>

    <div class="col-sm-6 col-md-6 rightside">
        <ul class = "menu pull-right">
          <% if !user_signed_in?%>
            <li class="dropdown centerli"><a href="<%= new_user_registration_path%>"><b>Sign Up</b></a></li>
            <li class="dropdown centerli"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>More Options:  </b><strong class="caret"></strong></a>
            <ul class="dropdown-menu">
              <li>
                <a href="<%=new_user_session_path%>">Sign In</a>
              </li>
            </ul>
          <%end %>
          <% if user_signed_in?%>
            <li class="dropdown centerli"><b><a href="#" class="dropdown-toggle" data-toggle="dropdown">More Options:  <strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li class=""><a href="<%= edit_user_registration_path %>">Account Settings</a></li>
                <li class=""><%= link_to 'Sign Out', destroy_user_session_path, class: "", :method => :delete  %></li>
              </ul></b>
            </li>
          <% end %>
        </ul>
    </div>
  </nav>
</div>
</div>
