<!DOCTYPE html>
<html>
  <head>
    <title>Moviestore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= alertify_flash %>
  </head>

  <body class="">
    <!-- <%= render 'devise/shared/script' %> -->
      <!-- <div class="indexmask"> -->
        <%= yield %>
      <!-- </div> -->
    <!-- <%= render 'devise/shared/signlogback' %> -->
  </body>
</html>
