<!DOCTYPE html>
<html>
  <head>
    <title>Moviestore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= alertify_flash %>
  </head>

  <body>
    <div class="container deviseouter">
      <div class="header"><%= render 'header/showheader'%></div>
        <div class=" row yield"><%= yield %></div>
      <%= render 'footer/footer'%>
    </div>
  </body>
</html>
